<template>
  <q-page class="row justify-center items-center">
    <q-card
      class="col-xs-11 col-sm-6 col-md-4 card-bordered text-center text-weight-bolder "
      flat
    >
      <q-input
        v-model="email"
        name="email"
        :label="$t('common.email')"
      >
        <template v-slot:prepend>
          <q-icon name="mail" />
        </template>
      </q-input>
      <q-input
        id="password"
        v-model="password"
        name="password"
        :label="$t('common.password')"
        type="password"
      >
        <template v-slot:prepend>
          <q-icon name="lock" />
        </template>
      </q-input>
      <q-btn
        outline
        @click="login()"
      >
        Login
      </q-btn>
    </q-card>
  </q-page>
</template>
<script>
// import User from '../models/user'
export default {
  name: 'Login',
  data () {
    return {
      loading: false,
      message: '',

      email: 'kiki0725',
      password: 'aa1234'
    }
  },

  methods: {
    async login () {
      await this.$store.dispatch('auth/login', {
        email: this.email,
        password: this.password

      })

      this.$router.push('/')
    }
  }
}
export {}
</script>
<style lang="scss">
.card-bordered {
  border-color: $primary;
  border-style: solid;
}

</style>
